<div {{action "toggleLightRight"}} class="box {{if isCheckedRight "checked"}}">
  <input type="checkbox" class="snareRight">
</div>
<div {{action "toggleLightLeft"}} class="box {{if isCheckedLeft "checked"}}">
  <input type="checkbox" class="snareLeft">
</div>
