<div id="hihat" class="test">
  {{#each boxes as |box|}}
    <div class="box"><input type="checkbox" class="hihat"></div>
    <div class="box"><input type="checkbox" class="hihat"></div>
  {{/each}}
</div>
<div id="snare" class="test">
  {{#each boxes as |box|}}
    <div class="box"><input type="checkbox" class="snareRight"></div>
    <div class="box"><input type="checkbox" class="snareLeft"></div>
  {{/each}}
</div>
<div id="bass" class="test">
  {{#each boxes as |box|}}
    <div class="box"><input type="checkbox" class="bass"></div>
    <div class="box"><input type="checkbox" class="bass"></div>
  {{/each}}
</div>
