<div class="head">
  <div class="screwsLeft">
    <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
    <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
  </div>
  <h1>Cloud Music</h1>
  <div class="screwsRight">
    <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
    <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
  </div>
</div>

{{#each model as |beat|}}
<article class="app">
  <section id="labels">
    <p class="label">Hihat</p>
    <p class="label">Snare</p>
    <p class="label">Bass</p>
  </section>
  <section id="{{beat.id}}" class="sequencer">
    {{saved-beats beat=beat.pattern}}
  </section>
</article>
<br>
{{/each}}
