<article class="head">
      <div class="screwsLeft">
        <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
        <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
      </div>
      <div class="screwsRight">
        <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
        <img class="screw" src="https://cdn.sstatic.net/Sites/diy/img/apple-touch-icon.png?v=26d138b3a1da" alt="">
      </div>
      <h1>Title</h1>
      <ul>
        <li>Thing 1</li>
        <li>Thing 2</li>
        <li>Thing 3</li>
      </ul>
    </article>
{{outlet}}
