{{#link-to 'beats.index'}}
  <button class="subroute first" type="button" name="button">My Music</button>
{{/link-to}}
{{#link-to 'beats.cloud'}}
  <button class="subroute" type="button" name="button">Cloud</button>
{{/link-to}}
{{outlet}}
