<article class="inputMain">
  <form class="metal" {{action 'login' on="submit"}}>
    <div class="">
      <label class="inputLabel" for="email">Email</label>
      {{input class="userInput" type="text" value=userEmail}}
    </div>
    <div class="">
      <label class="inputLabel password" for="password">Password</label>
      {{input class="userInput" type="text" name="password" value=userPassword}}
    </div>
    {{!-- {{input class="userInput" type="submit" value="Submit"}} --}}
    <button type="submit" name="button">Signup</button>
    {{#link-to "home"}}
      Home
    {{/link-to}}
  </form>
</article>
