<article class="app tut">
  <div class="moveRight">
    <h1 class="big">Tutorial</h1>
  </div>
  <section class="moveRight" id="supplies">
      <h1>Supplies</h1>
    <ul>
      <li>Raspberry Pi</li>
      <li>Mirco SD</li>
      <li>Drumsticks</li>
      <li>Servo  <a class="tutlink" href="https://www.amazon.com/Genuine-Helicopter-Airplane-controls-TowerPro/dp/B019H9BNTQ/ref=sr_1_2_sspa?s=toys-and-games&ie=UTF8&qid=1505926186&sr=1-2-spons&keywords=Sg90+Servo+9g+Motor+TowerPro&psc=1">(Servos I used)</a></li>
      <li>A way to mount the servos to the drum  <a class="tutlink" href="https://www.amazon.com/gp/product/B00BPDIBP2/ref=oh_aui_search_detailpage?ie=UTF8&psc=1">I used DrumClips</a></li>
      <li>A Drum</li>
    </ul>
  </section>
  <section class="moveRight" id="pi">
    <h1>Setting up the Raspberry Pi</h1>
    <ul>
      <li>Download Raspbian</li>
      <li>Move the image to the SD card</li>
      <li>Install Node.js on your Pi <ul>
        <li>Run these commands in Treminal</li>
        <li>wget http://node-arm.herokuapp.com/node_latest_armhf.deb</li>
        <li>sudo dpkg -i node_latest_armhf.deb</li>
      </ul></li>
      <li>Install PiGPIO on your Pi<ul>
        <li>Run this commands in Treminal</li>
        <li>sudo apt-get install pigpio</li>
      </ul></li>
      <li>Install MongoDB on your Pi <ul>
        <li>Run this commands in Treminal</li>
        <li>sudo apt-get install mongodb-server</li>
      </ul></li>
      <li>Download the code <ul>
        <li>Run this command in Terminal</li>
        <li>git clone https://github.com/RobertPuls/drumback.git</li>
      </ul></li>
      <li>cd into the directory with the downloaded code</li>
      <li>Run npm start in terminal</li>
    </ul>
  </section>
</article>
